@import "./components/tiptap/styles/_variables.scss";
@import "./components/tiptap/styles/_keyframe-animations.scss";

* {
  -ms-overflow-style: none;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
